/* Footer.css */

.footer-container {
  position: relative;
  min-height: 900px; /* Set a minimum height to ensure the content pushes the footer down */
}
.footer {
  font-size: 19px;
  padding: 20px;
  left: 50%;
  text-align: center;
  position:absolute;
  bottom: -266%;
  width: 100%;
}
