.overlay {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0.5);
    z-index: 1; 
    display: none; 
  }
  .project-container{
    margin-top: 400px;
    font-size: 40px;
  }
  .overlay.visible {
    display: block;
  }
  
  .project-dialogue-1,
  .project-dialogue-2 {
    position: fixed;
    border-radius: 10px;
    top: 50%;
    left: 45%;
    transform: translate(-25%, -50%);
    background-color: white;
    padding: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
    z-index: 1;
    width: 600px;
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  .project-text {
    margin-top: -20px;
    font-size: 17px;
    font-weight: 400;
  }
  .project-dialogue-1:not(.visible),
  .project-dialogue-2:not(.visible) {
    display: none;
  }
  .project-image {
    width: 300px;
    height: auto;
  }
  .project-image-container {
    width: 300px;
    height: 300px; 
    overflow: hidden;
    border: 1px solid #ccc; 
    position: relative;
    border-radius: 10px;
    padding: 10px;
    cursor:pointer;
    box-shadow: 0 4px 4px rgba(0, 0, 0, 0.3);
    background-color: white; 
  }
  
  .project-image {
    width: 85%;
    height: auto;
    object-fit: cover; 
    position: absolute;
    top: 30%;
    left: 50%;
    transform: translate(-50%, -50%);
  }
  .project-text-container{
  border: 1px solid #555;
  border-radius:10px;
  border-color: black; 
  padding: 5px;
  margin: 2px; 
  font-size: 17px;
  margin-left: 0px;
  display: inline-block;
  justify-content:space-around;
  background-color: #bfdbfe;
  }