.sidebar {
  background-color:#003140;
  margin-left: 10px;
  border-radius: 20px;
  width: 20px;
  height: 90px;
  padding: 20px;
  position: fixed;
  left: 3%;
  top: 50%; 
  transform: translate(-50%, -50%); 
  display: flex;
  flex-direction: column;
  align-items: center; 
  justify-content:center;
}

.sidebar h2 {
  font-size: 18px;
  margin-bottom: 10px;
}

.sidebar ul {
  list-style: none;
  padding: 0;
  margin: 0;
}

.sidebar li {
  margin-bottom: 10px;
}

.sidebar a {
  text-decoration: none;
  color: #fff;
}

.sidebar a:hover {
  text-decoration: underline;
}
